a {
    text-decoration: none;
    border-radius: var(--border-radius);
    position: relative;
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    opacity: 0.75;
}

.no-link-style:hover {
    opacity: 1;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    overflow: hidden;
    z-index: 1;
}

.sub-card {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns: repeat(auto-fit, minmax(max(100%/4, 350px), 1fr));
    max-width: var(--max-width);
    margin-bottom: var(--spacing-md);
    z-index: 1;
}

.img-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 0;
    margin-bottom: var(--spacing-md);
    z-index: 1;
    overflow: hidden;
    /*background: rgba(var(--card), 0.05);
    backdrop-filter: blur(5px);*/
}

.img-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /*border-radius: var(--border-radius) var(--border-radius) 0 0;*/
    border-radius: var(--border-radius);
}

.img-card-content {
    padding: 0;
    transform: none;
}

.text-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    z-index: 1;
    overflow: hidden;
    background: rgba(var(--card), 0.05);
    backdrop-filter: blur(5px);
}

.under-construction {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-md);
    z-index: 1;
}