.contact-links {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    margin: 0px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    width: 30px;
    height: 30px;
    padding: 2.5px;
    border-radius: 50%;
    fill: currentColor;
}

.contact-links a::after {
    content: none;
}

.contact-button:hover {
    transform: scale(1.1);
}

svg {
    width: 20px;
    height: 20px;
}