@font-face {
    font-family: 'eml';
    src: url('../emirates/Emirates-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'emli';
    src: url('../emirates/Emirates-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'emm';
    src: url('../emirates/Emirates-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'emmi';
    src: url('../emirates/Emirates-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'emb';
    src: url('../emirates/Emirates-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'embi';
    src: url('../emirates/Emirates-BoldItalic.ttf') format('truetype');
}