@font-face {
    font-family: 'rceb';
    src: url('../roboto-condensed/RobotoCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'rcb';
    src: url('../roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'rcsb';
    src: url('../roboto-condensed/RobotoCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'rcm';
    src: url('../roboto-condensed/RobotoCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'rcr';
    src: url('../roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype');
}