/* Contents of variables.css */
:root {
    --background: #FFFFFF;
    /*--background: #F0F0F0;*/
    --text: #000000;
    --theme: #49159e;
    --card: 1, 1, 1;
    --spacing-sm: 10px;
    --spacing-md: 25px;
    --spacing-lg: 40px;
    --border-radius: 2.5px;
    --max-width: 1440px;
}

:root.dark-mode {
    --background: #000000;
    /*--background: #121212;*/
    --text: #FFFFFF;
    --theme: #BD99FF;
    --card: 255, 255, 255;
}

/* Contents of layout.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    line-height: 2;
    letter-spacing: 0.5px;
    background: var(--background);
    color: var(--text);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

#contourCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.1;
    z-index: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

main {
    flex: 1;
    max-width: var(--max-width);
    margin: var(--spacing-lg) auto;
    padding: 0 var(--spacing-md);
}

main.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contents of fonts.css */
@font-face {
    font-family: 'eml';
    src: url('../emirates-sans/Emirates-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'emm';
    src: url('../emirates-sans/Emirates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'emb';
    src: url('../emirates-sans/Emirates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'emli';
    src: url('../emirates-sans/Emirates-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'emmi';
    src: url('../emirates-sans/Emirates-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'embi';
    src: url('../emirates-sans/Emirates-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Contents of typography.css */
h1, h2, h3, h4 {
    margin-bottom: var(--spacing-sm);
}

h1 {
    color: var(--theme);
    z-index: 1;
    font-family: 'emb';
    font-size: 24px;
}

h2 {
    color: var(--theme);
    z-index: 1;
    font-family: 'emm';
    font-size: 22px;
}

h3 {
    color: var(--theme);
    z-index: 1;
    font-family: 'emm';
    font-size: 20px;
}

h4 {
    color: var(--theme);
    z-index: 1;
    font-family: 'emli';
    font-size: 18px;
}

p {
    font-family: 'eml';
    font-size: 18px;
}

/* Contents of header.css */
header {
    z-index: 1;
}

header h1 {
    font-variant: small-caps;
    font-size: 2em;
    margin: 0;
    color: var(--theme);
}

.header-content h1 a::after {
    content: none;
}

header h2 {
    font-variant: small-caps;
    margin: 0;
    color: var(--theme);
}

.header-content {
    /* max-width: var(--max-width); */
    padding: var(--spacing-sm) var(--spacing-lg);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-align {
    margin-right: auto;
}

.right-align {
    margin-left: auto;
}

/* Contents of navigation.css */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav ul li h2 {
    margin: var(--spacing-sm);
    font-variant: small-caps;
}

nav ul li {
    padding: var(--spacing-sm);
}

nav ul li a {
    text-decoration: none;
    border-radius: var(--border-radius);
    position: relative;
    display: inline;
    color: inherit;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.75px;
    background-color: var(--theme);
    left: 0;
    bottom: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    opacity: 1;
}

/* Contents of theme-toggle.css */
#theme-toggle {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    fill: currentColor;
    z-index: 1;
}

#theme-toggle:hover {
    transform: scale(1.1);
}

#theme-toggle svg {
    width: 24px;
    height: 24px;
}

.sun {
    display: none;
}

.dark-mode .sun {
    display: inline;
}

.dark-mode .moon {
    display: none;
}

/* Contents of components.css */
a {
    text-decoration: none;
    border-radius: var(--border-radius);
    position: relative;
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    opacity: 0.75;
}

.no-link-style:hover {
    opacity: 1;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    overflow: hidden;
    z-index: 1;
}

.sub-card {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns: repeat(auto-fit, minmax(max(100%/4, 350px), 1fr));
    max-width: var(--max-width);
    margin-bottom: var(--spacing-md);
    z-index: 1;
}

.img-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 0;
    margin-bottom: var(--spacing-md);
    z-index: 1;
    overflow: hidden;
    /*background: rgba(var(--card), 0.05);
    backdrop-filter: blur(5px);*/
}

.img-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /*border-radius: var(--border-radius) var(--border-radius) 0 0;*/
    border-radius: var(--border-radius);
}

.img-card-content {
    padding: 0;
    transform: none;
}

.text-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    z-index: 1;
    overflow: hidden;
    background: rgba(var(--card), 0.05);
    backdrop-filter: blur(5px);
}

.under-construction {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-md);
    z-index: 1;
}

/* Contents of footer.css */
footer {
    z-index: 1;
    line-height: 1;
}

.footer-content {
    max-width: var(--max-width);
    margin: 0px  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    color: var(--theme);
    font-variant: small-caps;
    font-size: 1.125em;
    font-weight: bold;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left p {
    margin-right: var(--spacing-md);
}

.footer-right {
    display: flex;
    align-items: center;
}

/* Contents of contact-icons.css */
.contact-links {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    margin: 0px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    width: 30px;
    height: 30px;
    padding: 2.5px;
    border-radius: 50%;
    fill: currentColor;
}

.contact-links a::after {
    content: none;
}

.contact-button:hover {
    transform: scale(1.1);
}

svg {
    width: 20px;
    height: 20px;
}

/* Contents of transitions.css */
.page {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.page.visible {
    opacity: 1;
    pointer-events: all;
}

.content-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    position: relative;
}

.content-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: opacity 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    z-index: 1;
}

.page.visible .content-section {
    opacity: 1;
    transform: translateY(0);
}

.page.visible .content-section::before {
    opacity: 0;
}

  .content-section > * {
    position: relative;
    z-index: 2;
}

/* Contents of responsive-styles.css */
@media (max-width: 1500px) {
    .sub-card {
        grid-template-columns: repeat(auto-fit, minmax(max(100%/3, 300px), 1fr));
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width: 1440px) {
    .sub-card {
        grid-template-columns: repeat(auto-fit, minmax(max(100%/3, 300px), 1fr));
    }
}

@media (max-width: 1220px) {
    .sub-card {
        grid-template-columns: repeat(auto-fit, minmax(max(100%/2, 250px), 1fr));
    }

    .header-content,
    .footer-content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .left-align,
    .right-align {
        margin: var(--spacing-sm) 0;
    }

    nav.right-align {
        margin-left: 0;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: var(--spacing-sm);
    }

    .contact-links {
        justify-content: center;
        margin: 0px;
    }

    .under-construction {
        padding: var(--spacing-md);
        border-width: 8px;
    }
}

