/* Contents of variables.css */
:root {
    --background: #FAF9F6;
    --text: #000000;
    --theme: #49159e;
    --spacing-sm: 10px;
    --spacing-md: 25px;
    --spacing-lg: 40px;
    --border-radius: 5px;
    --max-width: 1440px;
}

:root.dark-mode {
    --background: #1C1C28;
    --text: #FFFFFF;
    --theme: #BD99FF;
}

/* Contents of layout.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    line-height: 2;
    letter-spacing: 0.5px;
    background: var(--background);
    color: var(--text);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

#contourCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.05;
    z-index: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

main {
    flex: 1;
    max-width: var(--max-width);
    margin: var(--spacing-lg) auto;
    padding: 0 var(--spacing-md);
}

main.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contents of fonts.css */
@font-face {
    font-family: 'eml';
    src: url('../emirates/Emirates-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'emli';
    src: url('../emirates/Emirates-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'emm';
    src: url('../emirates/Emirates-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'emmi';
    src: url('../emirates/Emirates-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'emb';
    src: url('../emirates/Emirates-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'embi';
    src: url('../emirates/Emirates-BoldItalic.ttf') format('truetype');
}

/* Contents of typography.css */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing-sm);
}

h1 {
    color: var(--theme);
    font-family: 'emb';
    font-size: 46px;
}

h2 {
    color: var(--theme);
    font-family: 'emm';
    font-size: 32px;
}

h3 {
    color: var(--theme);
    font-family: 'eml';
    font-size: 30px;
}

h4 {
    color: var(--theme);
    font-family: 'embi';
    font-size: 28px;
}

h5 {
    color: var(--theme);
    font-family: 'emmi';
    font-size: 24px;
}

h6 {
    color: var(--theme);
    font-family: 'emli';
    font-size: 22px;
}

p {
    font-family: 'eml';
    font-size: 18px;
}

/* Contents of header.css */
header {
    z-index: 1;
}

header h1 {
    font-variant: small-caps;
    font-size: 1.75em;
    margin: 0;
    color: var(--theme);
}

.header-content h1 a::after {
    content: none;
}

header h2 {
    font-variant: small-caps;
    font-size: 1.15em;
    margin: 0;
    color: var(--theme);
}

.header-content {
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-lg);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.left-align {
    margin-right: auto;
}

.right-align {
    margin-left: auto;
}

/* Contents of navigation.css */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
}

nav ul li h2 {
    padding: 0 var(--spacing-sm);
}

nav ul li a {
    text-decoration: none;
    border-radius: var(--border-radius);
    position: relative;
    display: inline;
    color: inherit;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.475px;
    background-color: var(--theme);
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    opacity: 1;
}

/* Contents of theme-toggle.css */
#theme-toggle {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-lg);
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-radius: 50px;
    fill: currentColor;
    z-index: 1;
}

#theme-toggle:hover {
    transform: scale(1.1);
}

#theme-toggle svg {
    width: 24px;
    height: 24px;
}

.sun {
    display: none;
}

.dark-mode .sun {
    display: inline;
}

.dark-mode .moon {
    display: none;
}

/* Contents of components.css */
a {
    text-decoration: none;
    border-radius: var(--border-radius);
    position: relative;
    color: inherit;
    transition: color 0.3s ease;
}

ul {
    list-style-type: square;
}

li {
    font-family: 'eml';
    font-size: 18px;
}

.card {
    width: var(--max-width);
}

.masonry-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -var(--spacing-sm);
    width: 100%;
}

.masonry-item {
    width: calc(33.33% - var(--spacing-md));
    padding: var(--spacing-sm);
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
}

.masonry-item.is-loaded {
    opacity: 1;
}

.masonry-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}
    
.masonry-item:hover img {
    transform: scale(1.1);
}

.text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: clamp(10px, 3vw, var(--spacing-md));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.text-overlay h3, 
.text-overlay h4,
.text-overlay p {
    color: #FFFFFF;
}

.text-overlay h3 {
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 125%;
}

.text-overlay h4 {
    font-size: clamp(12px, 1.2vw, 14px);
}

.text-overlay p {
    font-size: clamp(12px, 1vw, 16px);
}

.image-gallery {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.image-gallery img {
    width: 100px;
    height: auto;
    border-radius: var(--border-radius);
}

.MathJax[display = "true"] {
    font-size: 120% !important;
}

.MathJax:not([display = "true"]) {
    font-size: 110% !important;
}

/* Contents of footer.css */
footer {
    z-index: 1;
    line-height: 1;
}

.footer-content {
    max-width: var(--max-width);
    margin: 0px  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    color: var(--theme);
    font-variant: small-caps;
    font-size: 1.125em;
    font-weight: bold;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left p {
    margin-right: var(--spacing-md);
}

.footer-right {
    display: flex;
    align-items: center;
}

/* Contents of contact-icons.css */
.contact-links {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    margin: 0px;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    width: 30px;
    height: 30px;
    padding: 2.5px;
    border-radius: 50%;
    fill: currentColor;
}

.contact-links a::after {
    content: none;
}

.contact-button:hover {
    transform: scale(1.1);
}

svg {
    width: 20px;
    height: 20px;
}

/* Contents of transitions.css */
.page {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.page.visible {
    opacity: 1;
    pointer-events: all;
}

.content-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    position: relative;
}

.content-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: opacity 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    z-index: 1;
}

.page.visible .content-section {
    opacity: 1;
    transform: translateY(0);
}

.page.visible .content-section::before {
    opacity: 0;
}

  .content-section > * {
    position: relative;
    z-index: 2;
}

/* Contents of responsive-styles.css */
@media (max-width: 3440px) {
    .card {
        width: var(--max-width);
    }
}

@media (max-width: 1550px) {
    .card, .footer-content {
        max-width: 1024px;
    }
}

@media (max-width: 1200px) {
    .masonry-item {
        width: calc(50% - var(--spacing-md));
    }
    
    .text-overlay h3 {
        font-size: clamp(16px, 2vw, 22px);
        line-height: 125%;
    }
    
    .text-overlay h4 {
        font-size: clamp(14px, 1.7vw, 18px);
    }
    
    .text-overlay p {
        font-size: clamp(12px, 1.5vw, 16px);
    }
}

@media (max-width: 1150px) {
    .card, .footer-content {
        max-width: 768px;
    }
}

@media (max-width: 900px) {
    .card {
        max-width: 768px;
    }
    .header-content, .footer-content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .left-align, .right-align {
        margin: 0;
    }
    h1 {
        font-size: clamp(24px, 2.5vw, 26px);
    }
    h2 {
        font-size: clamp(18px, 2.5vw, 20px);
    }
    p {
        font-size: clamp(14px, 2vw, 16px);
    }
    li {
        font-size: clamp(14px, 2vw, 16px);
    }
    .image-gallery img {
        width: 100px;
    }
}

@media (max-width: 830px) {
    .card {
        max-width: 625px;
    }
}

@media (max-width: 768px) {
    .masonry-item {
        width: calc(100% - var(--spacing-md));
    }
    
    .text-overlay h3 {
        font-size: clamp(14px, 2.5vw, 24px);
        line-height: 125%;
    }
    
    .text-overlay h4 {
        font-size: clamp(12px, 2.2vw, 20px);
    }
    
    .text-overlay p {
        font-size: clamp(10px, 2vw, 18px);
    }
}

@media (max-width: 680px) {
    .card {
        max-width: 425px;
    }
}

@media (max-width: 480px) {
    .card {
        max-width: 375px;
    }
    .image-gallery img {
        width: 75px;
    }
}

@media (max-width: 430px) {
    .card {
        max-width: 350px;
    }
}

@media (max-width: 375px) {
    .card {
        max-width: 320px;
    }
}

@media (max-width: 320px) {
    .card {
        max-width: 270px;
    }
}

