.page {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.page.visible {
    opacity: 1;
    pointer-events: all;
}

.content-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    position: relative;
}

.content-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: opacity 1s ease-in-out;
    transition-delay: var(--delay, 0s);
    z-index: 1;
}

.page.visible .content-section {
    opacity: 1;
    transform: translateY(0);
}

.page.visible .content-section::before {
    opacity: 0;
}

  .content-section > * {
    position: relative;
    z-index: 2;
}