.page {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(1000px); /* Y-axis movement for the page */
    transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
}

.page.visible {
    opacity: 1;
    transform: translateY(0); /* Y-axis goes to 0 when page becomes visible */
}

.content {
    transform: translate(-1000px, -1000px);
    opacity: 0;
    transition: transform 1.25s ease-in-out, opacity 1.25s ease-in-out;
}

.page.visible .content {
    transform: translate(0, 0); /* Content moves to its natural position */
    opacity: 1;
}