:root {
    --background: #FAF9F6;
    --text: #000000;
    --theme: #49159e;
    --spacing-sm: 10px;
    --spacing-md: 25px;
    --spacing-lg: 40px;
    --border-radius: 5px;
    --max-width: 1440px;
}

:root.dark-mode {
    --background: #1C1C28;
    /*--background: #121212;*/
    --text: #FFFFFF;
    --theme: #BD99FF;
}