@font-face {
    font-family: 'Cropaso';
    src: url('/fonts/cropaso.woff2') format('woff2'), url('/fonts/cropaso.woff') format('woff'), url('/fonts/cropaso.otf') format('opentype');
    font-display: swap;
}