:root {
    --light-bg: #F9FAFB;
    --light-text: #0F172A;
    --light-primary: #1E3A8A;
    --light-secondary: #3B82F6;
    --light-glow: 0 0 0.5rem 0.125rem rgba(30, 58, 138, 0.15), 0 0 1.25rem 0.375rem rgba(59, 130, 246, 0.08);

    --dark-bg: #020617;
    --dark-text: #E5E7EB;
    --dark-primary: #60A5FA;
    --dark-secondary: #1E40AF ;
    --dark-glow: 0 0 0.625rem 0.1875rem rgba(30, 64, 175, 0.25), 0 0 1.875rem 0.5rem rgba(96, 165, 250, 0.12);

    --bg-color: var(--light-bg);
    --text-color: var(--light-text);
    --primary-color: var(--light-primary);
    --secondary-color: var(--light-secondary);
    --glow: var(--light-glow);

    --radius: 0.25rem;
}

.dark-theme {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
    --primary-color: var(--dark-primary);
    --secondary-color: var(--dark-secondary);
    --glow: var(--dark-glow);
}