footer {
    color: var(--text-color);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    z-index: 1000;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        text-align: center;

        @media (min-width: 601px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            gap: 0;
        }
    }

    .footer-copyright {
        font-size: 0.85rem;

        @media (min-width: 1681px) {
            font-size: 1rem;
        }
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1.75em;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: var(--text-color);
            text-decoration: none;
            display: inline-block;
            transition: color 0.3s ease;

            &:hover {
                color: var(--primary-color);
            }
        }

        .social-icon {
            font-size: 1.25rem;
            vertical-align: middle;
        }

        @media (min-width: 601px) {
            gap: 1.5rem;
        }
    }
}