.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: font(3);
    height: font(1);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1500;

    span {
        display: block;
        width: 100%;
        height: font(0)/8;
        background-color: var(--text-color);
        transition: transform 0.3s ease, opacity 0.3s ease;
        border-radius: var(--radius);
    }

    &.active {
        span:nth-child(1) {
            transform: translateY(calc(0.5625rem)) rotate(45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: translateY(calc(-0.5625rem)) rotate(-45deg);
        }
    }

    @media (min-width: 1400px) {
        display: none;
    }
}