header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: space(4) space(8);
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    background-color: transparent;

    &.scrolled {
        background-color: var(--bg-color);
    }

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }

    .site-branding {
        display: flex;
        align-items: center;
        margin-left: space(0);
        
        .site-logo {
            display: block;
            width: clamp(font(4), 2.75vw, font(6));
            height: clamp(font(4), 2.75vw, font(6));
            
            svg {
                width: 100%;
                height: 100%;
                color: var(--primary-color);
            }
        }

        .site-text {
            display: none;

            @media (min-width: 1500px) {
                display: block;
                margin-left: space(3);
                flex-direction: row;
            }

            .site-name {
                font-family: 'Cropaso', sans-serif;
                font-weight: normal;
                font-size: clamp(font(0), 1.25vw, font(3));
                transform: scaleX(0.9);
                color: var(--primary-color);
                letter-spacing: tracking(normal);
                margin-bottom: space(1);
                margin-left: space(-4);

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .site-tagline {
                font-family: 'Exo 2', sans-serif;
                font-size: clamp(font(-3), 0.5vw, font(-1));
                font-weight: 300;
                letter-spacing: tracking(wider);
                color: var(--text-color);
                text-transform: uppercase;
                margin-top: space(0);
                line-height: 1.1;
            }
        }
    }
}