.homepage-section {
    padding: clamp(space(12), 1vw, space(20)) clamp(space(6), 1vw, space(8));
    overflow: hidden;
    position: relative;

    @media (min-width: 1024px) {
        min-height: 100vmin;
        display: flex;
        align-items: center;
    }

    &:nth-child(even) {
        .homepage-container {
            @media (min-width: 1024px) {
                flex-direction: row-reverse;
            }
        }
    }

    .homepage-container {
        max-width: clamp(1440px, 75vw, 2560px);
        margin: space(0) auto;
        display: flex;
        flex-direction: column;
        gap: space(8);

        @media (min-width: 1024px) {
            flex-direction: row;
            align-items: center;
            gap: space(24);
        }

        .homepage-image-wrapper {
            margin-bottom: space(0);
            will-change: transform, opacity;
            border-radius: var(--radius);
            box-shadow: var(--glow);
            overflow: hidden;
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9;

            @media (min-width: 1024px) {
                flex: 1.5;
                aspect-ratio: 3 / 2;
            }

            .homepage-image {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        .homepage-content {
            will-change: transform, opacity;

            @media (min-width: 1024px) {
                flex: 1;
            }

            .homepage-subtitle {
                display: inline-block;
                font-family: 'Nasalization', sans-serif;
                font-weight: normal;
                font-size: clamp(font(-2), 1vw, font(0));
                text-transform: uppercase;
                letter-spacing: tracking(wider);
                color: var(--secondary-color);
                margin-bottom: space(2);
                position: relative;
                padding-left: space(10);

                &:before {
                    content: "";
                    position: absolute;
                    left: space(0);
                    top: 50%;
                    width: space(8);
                    height: space(1)/4;
                    background-color: var(--secondary-color);
                }
            }

            .homepage-title {
                font-family: 'Cropaso', sans-serif;
                font-size: clamp(font(1), 1.5vw, font(3));
                font-weight: normal;
                margin: clamp(space(2), 1vh, space(4)) 0;
                position: relative;
                color: var(--primary-color);
            }

            .homepage-description {
                font-size: clamp(font(0), 1vw, font(1));
                line-height: 1.5;
                margin-bottom: space(6);
            }

            .cta-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: (space(2) + space(3))/2;
                background-color: var(--primary-color);
                color: #FFFFFF;
                text-decoration: none;
                border-radius: var(--radius);
                font-family: 'Nasalization', sans-serif;
                font-weight: normal;
                font-size: clamp(font(-1), 1vw, font(1));
                font-variant-caps: small-caps;
                letter-spacing: tracking(wider);
                transition: all 0.3s ease;
                position: relative;
                overflow: hidden;

                > span {
                    display: inline-flex;
                    align-self: center;
                    position: relative;
                    gap: space(1);

                    .icon {
                        width: clamp(font(-1), 1.5vw, font(1));
                        height: clamp(font(-1), 1.5vw, font(1));
                        align-self: flex-end;
                    }
                }

                &:hover {
                    background-color: var(--secondary-color);
                    box-shadow: var(--glow);
                }
            }
        }
    }
}