<footer class="footer">
    <div class="theme-toggle">
        <button id="theme-toggle" aria-label="Change color theme">
            <i class="fas fa-sun"></i>
        </button>
        <div class="theme-dropdown">
            <button class="theme-option" data-theme="light" aria-label="Select Light theme">
                <i class="fas fa-sun"></i>
            </button>
            <button class="theme-option" data-theme="dark" aria-label="Select Dark theme">
                <i class="fas fa-moon"></i>
            </button>
            <button class="theme-option" data-theme="system" aria-label="Select System theme preference">
                <i class="fas fa-desktop"></i>
            </button>
        </div>
    </div>

    <div class="social-links">
        <a href="mailto:prof21yuvan@gmail.com" class="social-link" aria-label="Send me an email">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/yuvannithi-thirumaran-66034393/" class="social-link" aria-label="View my LinkedIn profile">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/YuvannithiT" class="social-link" aria-label="View my GitHub profile">
            <i class="fab fa-github"></i>
        </a>
    </div>
    
    <div class="copyright">
        &copy; {{ now.Format "2006" }} Yuvannithi Thirumaran. All rights reserved.
    </div>
</footer>