<header class="header">
    <a href="{{ "/" | relURL }}" class="nav-brand">YUVANNITHI THIRUMARAN</a>
    
    <nav class="nav-links">
        <a href="{{ "/" | relURL }}" class="nav-link">Home</a>
        <a href="{{ "/experience/" | relURL }}" class="nav-link">Experience</a>
        <a href="{{ "/projects/" | relURL }}" class="nav-link">Projects</a>
        <a href="{{ "/blog/" | relURL }}" class="nav-link">Blog</a>
        <a href="{{ "/contact/" | relURL }}" class="nav-link">Contact</a>
    </nav>
    
    <div class="hamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
    
    <div class="mobile-menu-container">
        <nav class="mobile-menu">
            <a href="{{ "/" | relURL }}">Home</a>
            <a href="{{ "/experience/" | relURL }}">Experience</a>
            <a href="{{ "/projects/" | relURL }}">Projects</a>
            <a href="{{ "/blog/" | relURL }}">Blog</a>
            <a href="{{ "/contact/" | relURL }}">Contact</a>
        </nav>
    </div>
</header>