<header>
    <div class="site-branding">
        <a href="{{ "/" | relURL }}" class="site-logo">
            {{ $logo := resources.Get "svg/logo.svg" }}
            {{ $logo.Content | safeHTML }}
        </a>
        <div class="site-text">
            <h1 class="site-name"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
            <p class="site-tagline">{{ .Site.Params.description }}</p>
        </div>
    </div>

    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav>
        <ul class="nav-links">
            <li>
                <a href="{{ "/" | relURL }}">
                    <span>
                        <span data-lucide="house" class="nav-icon"></span>
                        Launchpad
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ "/about/" | relURL }}">
                    <span>
                        <span data-lucide="user" class="nav-icon"></span>
                        Mission Brief
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ "/experience/" | relURL }}">
                    <span>
                        <span data-lucide="route" class="nav-icon"></span>
                        Trajectory
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ "/projects/" | relURL }}">
                    <span>
                        <span data-lucide="lamp-desk" class="nav-icon"></span>
                        Engineering Bay
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ "/articles/" | relURL }}">
                    <span>
                        <span data-lucide="notebook-pen" class="nav-icon"></span>
                        Captain's Log
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ "/contact/" | relURL }}">
                    <span>
                        <span data-lucide="send" class="nav-icon"></span>
                        Uplink
                    </span>
                </a>
            </li>
        </ul>

        <button class="theme-toggle" id="theme-toggle">
            <span data-lucide="sun" class="theme-icon"></span>
        </button>
    </nav>
</header>