{{ define "main" }}
    <section class="hero">
        <div class="hero-container">
            <h1 class="hero-name">{{ .Title }}</h1>
            <div class="content-row">
                <div class="hero-intro">
                    <div class="hero-greeting">{{ .Params.hero.greeting }}</div>
                    <div class="hero-description">
                        {{ .Content }}
                    </div>
                </div>
                <div class="quote-container">
                    <p id="typed-quote" class="hero-quote"></p>
                    <span id="quote-author" class="hero-quote-author"></span>
                </div>
            </div>
            <div class="poster-wrapper">
                {{ partial "responsive_image.html" (dict 
                "ImagePath" .Params.hero.poster_image_src 
                "AltText" .Params.hero.poster_alt 
                "ImgClass" "poster-image" 
                "Loading" "eager"
                "Sizes" "(max-width: 863px) calc(100vw - 64px), 800px") }}
            </div>
        </div>
    </section>

    {{ range .Params.sections }}
        <section class="homepage-section">
            <div class="homepage-container">
                <div class="homepage-image-wrapper">
                    {{ partial "responsive_image.html" (dict 
                    "ImagePath" .image 
                    "AltText" .image_alt 
                    "ImgClass" "homepage-image" 
                    "Loading" "lazy"
                    "Sizes" "(max-width: 1023px) calc(100vw - 48px), (max-width: 1487px) calc(60vw - 86px), 806px") }}
                </div>
                <div class="homepage-content">
                    <span class="homepage-subtitle">{{ .subtitle }}</span>
                    <h2 class="homepage-title">{{ .title }}</h2>
                    <p class="homepage-description">{{ .description | markdownify }}</p>
                    <a href="{{ .cta_link }}" class="cta-button">{{ .cta_text }} <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </section>
    {{ end }}

{{ end }}